*{
text-align: center;
}
html{
background: url(/Images/castro.PNG) no-repeat center fixed;
background-size: cover;
}
div#popup
{
position:absolute;
display:none;
top:400px;
left:50%;
width:500px;
margin-left:-250px;
font-style: italic;
font-weight: bold;
font-size:15px;
border: hidden;
padding:20px;
background-color:white;
}



h1{
color:red;
font-size: 50px;



}
header {
position: absolute;
top: 0;
bottom:0;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
}
#intro{



font-size:20px;
font-weight: 900;
background: url(/Images/blanc.PNG) no-repeat center fixed;
background-size: cover;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
}



a{
color: red;
font-size: 30px;
font-style: italic;
font-size: 40px;
text-decoration: none;
}
