*{
    background-color: black;
}

@font-face{
  font-family: "Pixel";
  src: url("/Police/Pixel.ttf") format("truetype");
}

.header {

  text-align: center; /* center the text */
  color: red;
  font-family: "Pixel";
  font-size: 30px;

}

.body {
    margin:0; padding: 0;
}



.categories {

  text-align: center;
  color: red;
    font-family: "Pixel";
    font-size: 20px
}

a{
    color: red;
}
