*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas{
    width: 800px;
    height: 500px;
    border: 4px solid black;
}

/*
html, body {
            margin: 0px;
            background-repeat: no-repeat;

        }
html {

    background: url(/Images/berlin1.PNG) no-repeat center fixed;
    background-size: cover;
    max-width: 900px;
}

header{
    width:100%;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    padding: 0px;
}
header img{
    margin-right: 0%;
}



/*
.topnav {
  background-color: white;
  height: 70px;
  overflow: hidden;
}

#poupe{
   margin-left: 80%;
   padding: 0px;

}
*/
