@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700|Delius:700');

/*non responsive design*/

/*principal elements*/

*{
    margin: auto;
    box-sizing: border-box;
    padding:0;
    border:none;
    margin:auto;
    --background-color: lightgrey;
}

html{
    background-color: lightgray;
}

body{
    max-width: 1240px;
    height: auto;
    box-shadow: 10px 10px 10px 10px black;
    position:relative;
    margin-bottom: 10vh;
}

/*header*/

h1{
    font-family: 'Roboto Slab', serif, sans-serif;
    padding-top: 7vh;
    padding-bottom: 2vh;
    color: white;
    text-align: center;
    background: linear-gradient(#FFB19A, #DD541C);

}

/*navigation*/

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #454545;
}

nav li{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #454545;

}

nav a{
    padding-bottom: 100%;
    font-size: 3vh;;
    font-weight: bold;
    color: white;
    text-align: center;
}
nav li a:link{
    text-decoration: none!important;
}
nav li a:hover, li.active a{
    background-color: white;
    color: darkorange; /*to change*/
}

/*main body*/

/*main in main*/
main{
    background-color: white;
    font-family: 'Montserrat', serif, sans-serif;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

main a{
    color: lightcoral;
    text-decoration:none;
}

main p{
    margin-top: 3vh;
    opacity: 90%;
}



/*header in main*/

main header{
    margin-top: 7vh;
    margin-bottom: 4vh;
}

main h2{
    /*font-family: */
    font-size: 5vh;
    margin-bottom: 0em;

}

header p{
    margin-top: 0px;
    text-align: right;
    border-top: 2px solid;
    border-color: lightgrey;
    font-size: 2vh;
    font-style: italic;
}

/*article in main*/

article{
    padding-left: 5vh;
    padding-right: 10vh;

}

main h3{
    font-family: 'Roboto Slab', serif, sans-serif;
}

/*aside in main*/
aside{
    margin-top: 5vh;
    margin-right: 5vh;
    min-width: 300px;
    box-shadow: 0px 0px 15px grey;
    padding-bottom: 4vh;
}

aside ul{
    padding-left: 3vh;
    list-style-type: none;

}

aside h3{
    padding-left: 1vh;
    color: white;
    background-color: #E26633;
    font-family: 'Roboto Slab', serif,sans-serif;
}

/*footer*/
footer {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #333;
    position: relative;
}

/*images*/

img{
    max-width: 1024px;
    height:auto;
    width: 100%;
}

footer img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 15%;
    max-width: 200px;
}

.custome-title {
    text-align: center;
    font-weight: bold;

}
#alias, #prenom, #motivation, #country, #dob, #parti {
    background-image: url(../images/ccp.png);
    position: left;
    padding-left: 34px;
    background-size: 31px;
    background-repeat: no-repeat;
}

#dragged {
    background-image: url(../images/ccp.png);
    position: left;
    height: 85px;
    width: 160px;
    padding-left: 34px;
    background-size: 31px;
    background-repeat: no-repeat;
    float:left;
    margin-right: 10px;
}



.form-style-9{
	max-width: 610px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #FF8000;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px FF0000;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
    border-radius: 5px;
	border: 1px solid #17445E;
    display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

button, input, select, textarea, label {
 font: 14px Arial, Helvetica, sans-serif ;
}


#boss
{
    display:inline-flex;
}






.jeu{
    display: none;
}
.homePage{
    display: none;
}
#canvas{
    width: 1024px;
    height: 500px;
    border: 4px solid black;
}

/*responsive design*/

/* --- plus grand --- */
/* --- mobile --- */

@media screen and (max-width: 600px) {

    body{
        max-width: 600px;
        min-width: fit-content;
        padding-right: 0%;
        padding-bottom: 0%;
        margin-top: 0%;
        margin-bottom:0%;
        padding-right: 0%;
        margin-right: 0%;

    }

    /*navigation*/
    nav li a:hover, li.active a{
    background-color: white;
    color: darkorange; /*to change*/
}

    nav a{
    padding-bottom: 0%;
    font-size: 3vh;;
    font-weight: bold;
    color: white;

}

    nav li{
        align-self: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }

    .hamburger img {
        filter: invert(100%);
    }

    nav li:not(.hamburger){
        transition: display;
        display: none;
    }
    nav:hover li:not(.hamburger){
        display: block;
    }

/*main body*/

    h1{
        max-width: 600px;
        display: flex;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
        body{
        margin-bottom: 0vh;
    }

}

/* --- tablette --- */
@media screen and (min-width: 601px ) {

        .hamburger{
        display: none;
    }

    /*main body*/
    main{
        display: flex;
        flex-direction: column;
    }

    body{
        margin-bottom: 0vh;
    }

}

/* --- écran ---*/

@media screen and (min-width: 769px) {

    main{
        flex-direction: row;
    }

}




